<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel='stylesheet' href='../stylesheets/style.css'/>
        <script>
            async function listenComment(id){
                try{
                    
                }catch{

                }
            }
        </script>
    </head>
    <body>
        <div class="centro">
            <div class="geral">
                <div class="inserirComentario">
                    <div id="titulo">
                        <p>Adicionar Comentário</p>
                    </div>
                    <div class="caixaTexto">
                        <form action="/postComments" method="POST">
                            <textarea
                                class="form-control"
                                name="comment"
                                value="comment"
                                id="descricaoSolicitacao"
                                rows="8"
                                style="width:90%"
                                maxlength="250"></textarea>
                        </div>
                        <button type="submit" id="cadastrar">Cadastrar</button>
                    </div>
                </form>
                <div class="linha-vertical"></div>
                <div class="lerComentario">
                    <p>Comentários</p>
                <% if (comments.length) { %>
                        <% comments.forEach(comentario => { %>
                            <div class="comentarios">
                                <div class="exibeComentario">
                                    <p><%= comentario.comment %>
                                    </p>
                                </div>
                                <div class="ouvir">
                                    <button onclick="listenComment(<%= comentario.id %>)" id="buttonOuvir">
                                        Ouvir
                                    </button>

                                </div>
                            </div>
                            <% }) %>
                            <% } else { %>
                                <p>
                                    Ainda não há comentarios registrados</p>
                            <% } %>
                        </div>
                    </body>
                </html>